@charset "UTF-8";


#join__title__section{
	margin : 0.1rem auto;
	padding-top: 60px;
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	*/
  }
  
  .joinPage__logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
  }
  
  .joinPage__twoEx{
	font-family: 'Russo One', sans-serif;
	font-size: 40px;
	font-weight: var(--weight-bold);
	color: var(--color-veryPeri);
	cursor: pointer;
  
  }  
  
  .joinPage__expertsExchange{
	/*font-family: 'Russo One', sans-serif;*/
	font-family:'Orbitron', sans-serif;
	font-size: var(--font-medium);
	font-weight: 800;
	color: var(--color-black);
  }
  
  


  /* 두번째 섹션 ****************************************/

#join__section{
	margin: auto;
	padding: 45px 0;
	margin-bottom: 50px;


}

/**/
.join__container{
	margin : auto;
	padding : 40px;

	border: solid 2px var(--color-headerGrey);
	border-radius: 10px;
	width : 600px;

	text-align: center;
}

.join__container h2{
	text-align: center;

}


/* 레이블 */
.item__div{
	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding : 0 10px;
	padding-bottom : 20px;
}

.item__label{
	height : 50px;
	width : 110px;

	text-align: left;
	line-height : 50px;
	font-size: 20px;
	font-weight: 600;
}

.item__input{
	width : 350px;
	height : 50px;

	border : solid 1px var(--color-headerGrey);
	border-radius: 7px;
	padding: 15px;
	font-size: 15px;

	margin-right : 15px;
}
.item__select{
	width : 350px;
	height : 50px;

	border : solid 1px var(--color-headerGrey);
	border-radius: 7px;
	padding: 15px;
	font-size: 15px;

	margin-right : 15px;

}

#section__bottom{
	height: 20px;
}


.content__btn.btn__blueGreen.large{
	margin-top : 15px;

}