@charset "UTF-8";

.content__title{
    padding: 15px;
    font-size: 20px;

}



/* 셀러 인포 */
.seller__info__container,
.seller__profile__container{
    margin-bottom : 20px;
    border : solid 1.5px var(--color-veryPeri);
    padding: 15px 
}

/* 셀러 상품 */
.seller__product__container{
    border : solid 1.5px var(--color-veryPeri);
    border-radius: 10px;

}


/*********************************************************/
  #prdList{
	 	float: left;
	    margin: 20% 5px 5px 10px;
	    border: 3px solid #ffffff; 	
        }
        
        #menu{
        	float : left;   
 			margin-top : 100px;    
 			
 			width :100%;
        	border : 3px solid #ffffff;
        }
        
        #menuVar{
        width :15%;
        border : 3px solid #ffffff;
        }
        
        #productList{
        	float :left;
        	
        }
        
       .modal__body{
       	background-color : #ffffff;
       }
       
       #product{
       	float: left;
       }
       

		
		#product{
			border : solid 1px #000000;
			margin-left :10px;
		}
		

/* 마이샾 타이틀  */
.myShopPage{
	font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}




.common__menu{
	width: 215px;
    border: solid var(--border-thin) var(--color-headerGrey);
    border-radius: var(--border-radius1);
    padding: 8px 14px;
    padding-top: 16px;
}

h3{
	font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 8px 0;
}



.common__modal{
	left: 25rem;
}
.modal__head{
		color :#fff;
		text-align : center;
		display : block;

		
}
.modla__name{
	color :#fff;
		text-align : center;
		display : block;
		width : 90%;
		height: 1.5rem;
}
		
.modal__close{
	float:left;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    background-color: #6592B8;
    text-align: center;
    color: #fff;
}
.modal__body{
	font-size : 24px;
	
}


@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

input[name="btn"]{  /* 생략 */
  background-color : #6B83C2 ;
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px; 
}


input[name="file"]{  /* 생략 */
  
  margin: 0;
  
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px; 
}




.buttons{
	margin-top:100px;
	text-align : center;
	
}

.proInfoList{
	margin-left:20%;
	padding : 20px ;
	text-align : center;
	border : solid ;
	
	border: solid var(--border-thin) var(--color-headerGrey);
    border-radius: var(--border-radius1);
	display:inline-block;
	width: 60%;
	
}

input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #6B83C2;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  color:#fff;
}
input[type=button] {
  width: 150px;
  height: 40px;
  background: #6B83C2;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  color:#fff;
}

input[class=more]{
	width: 40%;
    height: 40px;
    float: left; 
    margin-left: 15px;
    margin-top: 10px;	
}


/*

.product__etc__div{
	width: 100%;
}



div[class^=product__item] {
    margin: 15px;
    height: 600px;
    width: 250px;
    border: solid 1.5px #cacaca;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 10px 1px rgb(205 205 205);
    background-color: rgb(250, 250, 250);
    align-items: flex-start;
    padding-top: 0px;
    color: var(--color-black);
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    float: left;
    text-align : left;
}



.product__etc__div{
	text-align : left;
	height: 11%;
}


.product__etc__div2{
	text-align : left;
	height: 5%;
	padding: 5px;
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
}

*/

.seller__info__container{
	border: solid var(--border-thin) var(--color-headerGrey);
    border-radius: var(--border-radius1);
}

.seller__profile__container{
	border: solid var(--border-thin) var(--color-headerGrey);
    border-radius: var(--border-radius1);
}

.productList__container{
	float: left;
}


.product__image__div{
	display : inline-block;
	
}

button[class=more]{
	margin-left :23px;
}


.updProductList{
	
	margin-left:20%;
	padding : 20px ;
	text-align : center;
	border : solid ;
	
	border: solid var(--border-thin) var(--color-headerGrey);
    border-radius: var(--border-radius1);
	display:inline-block;
	width: 60%;
}
/*************************************************************/
.productList__container{
    padding:3px;
    display:flex;
    justify-content: flex-start;
    flex-flow: nowrap;
    align-items: center;

}

.product__item.updList{
    position: relative;
    min-height: 500px;

}

.product__btn__div{
    position:absolute;
    right: 5px;
    bottom: 15px;
}

/***************************************************************/

.common__content__zone.myShop{
    margin-left:5px;
    border: solid 2px var(--color-headerGrey);
    border-radius: 10px;
    overflow:scroll;

}

.inner__wrapper2{
    margin-left:5px;
    border: solid 2px var(--color-headerGrey);
    border-radius: 10px;
    overflow:scroll;

}